body {
  background: #f3f2f1;
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-header {
  background: #0b0c0c;
  border-top: 1px solid #0b0c0c;
  margin-top: -1px;
  position: relative;
}

.nav-header a {
  color: #fff;
}

.nav-header .width-container::after {
  content: "";
  display: block;
  clear: both;
  position: static;
}

.nav-header-logo {
  display: inline-block;
  height: 30px;
  padding: 10px 0;
}

.nav-header-logo .logotype {
  display: inline-block;
}

.nav-header-logo .logotype:last-child {
  margin-right: 0;
}

.nav-header-logo .logotype-cookie {
  position: relative;
  top: -1px;
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: top;
}

.nav-header-logo a {
  text-decoration: none;
  display: inline;
  font-weight: 700;
  margin-right: 10px;
  font-size: 30px;
  line-height: 1;
}

.nav-header nav {
  display: inline-block;
  float: right;
}

main {
  background: #fff;
}

main>h1 {
  margin-top: 0;
}

h2 {
  margin: 0;
  padding: 2rem 0 1rem;
}

.uid {
  font-family: monospace;
  font-weight: 400;
}

th {
  text-align: left;
  padding-right: 15px;
}

td {
  font-family: monospace;
}

.user-list {
  width: 100%;
}

th {
  background: #ddd;
  color: #888;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
}

.user-list td {
  width: calc(70% / 4);
}

.user-list td:first-child {
  width: 30%;
}

[data-consent="True"] {
  background: #8f8;
  color: #484;
}

[data-consent="False"] {
  background: #f88;
  color: #844;
}

footer {
  background: #f3f2f1;
  bottom: 0vh;
  border-top: 1px solid #b1b4b6;
  color: #0b0c0c;
  font-size: 1rem;
  line-height: 1.25;
  padding: 2rem 0;
  position: relative;
}

footer a {
  color: #0b0c0c;
}

.footer--links {
  list-style: none;
  padding: 0;
}

.width-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.grid-row {
  margin-right: -15px;
  margin-left: -15px;
}

.grid-row::after {
  content: "";
  display: block;
  clear: both;
}

.grid-col-one-half {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 0 15px;
}

.grid-col-two-thirds {
  width: 66.6666%;
  float: left;
  padding: 0 15px;
}

.button-container {
  line-height: 2.36;
}

.button {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 0 22px;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

.product-header {
  background: #1d70b8;
  color: #fff;
  padding: 2rem 10%;
}

.product-header a {
  color: #fff;
}

.product-header h1 {
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.0416666667;
  margin: 20px 0 30px 0;
}

.product-header p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 15px 0 30px;
}

.product-header .button {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  color: #1d70b8;
  box-shadow: 0 2px 0 #195f9c;
  background: #fff;
  text-decoration: none;
  vertical-align: baseline;
  margin-bottom: 0;
  margin-right: 15px;
  width: auto;
}

.product-page section {
  border-top: 1px solid #b1b4b6;
  padding: 45px 0 0 0;
  margin-bottom: 15px;
}

.product-page section:first-child {
  border-top: none;
}

.product-page section:last-child {
  margin-bottom: 0;
}

.product-page section h2 {
  font-weight: 700;
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 1.1111111111;
  margin: 0 0 30px;
  padding: 0;
}

.product-page section img {
  width: 100%;
  margin: 0 0 45px 0;
}

.usage div {
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.big-number {
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.0416666667;
  margin: 0;
}

.usage .big-number {
  margin-bottom: 0;
}
