body {
  background: #f3f2f1;
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-header {
  background: #0b0c0c;
  border-top: 1px solid #0b0c0c;
  border-bottom: 10px solid #fff;
  margin-top: -1px;
  position: relative;
}

.nav-header a {
  color: #fff;
}

.nav-header .width-container {
  border-bottom: 10px solid #1d70b8;
  margin-bottom: -10px;
  position: relative;
  padding-top: 10px;
}

.nav-header .width-container::after {
  content: "";
  display: block;
  clear: both;
  position: static;
}

.nav-header-logo {
  display: inline-block;
  height: 30px;
  padding: 10px 0;
}

.nav-header-logo .logotype {
  display: inline-block;
}

.nav-header-logo .logotype:last-child {
  margin-right: 0;
}

.nav-header-logo .logotype-cookie {
  position: relative;
  top: -1px;
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: top;
}

.nav-header-logo a {
  text-decoration: none;
  display: inline;
  font-weight: 700;
  margin-right: 10px;
  font-size: 30px;
  line-height: 1;
}

.nav-header nav {
  display: inline-block;
  float: right;
}

main {
  background: #fff;
  padding-bottom: 90px;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.1111111111;
  font-weight: 700;
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
}

h2 {
  margin: 0;
  padding: 2rem 0 1rem;
}

p {
  color: #0b0c0c;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  margin-top: 0;
  margin-bottom: 20px;
}

ul {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  list-style-type: disc;
  margin: 0 0 20px;
  padding: 0 0 0 20px;
}

ul > li {
  margin-bottom: 5px;
}

.user-list {
  width: 100%;
}

.user-list th {
  text-align: left;
  padding-right: 15px;
  background: #ddd;
  color: #888;
}

.user-list td {
  font-family: monospace;
  width: calc(70% / 4);
}

.user-list th,
.user-list td {
  margin: 0;
  padding: 0.5rem;
}

.user-list td:first-child {
  width: 30%;
}

[data-consent="True"] {
  background: #8f8;
  color: #484;
}

[data-consent="False"] {
  background: #f88;
  color: #844;
}

footer {
  background: #f3f2f1;
  bottom: 0vh;
  border-top: 1px solid #b1b4b6;
  padding: 2rem 0;
  position: relative;
}

footer a {
  color: #0b0c0c;
  font-size: 1rem;
  line-height: 1.25;
}

footer .footer--links {
  list-style: none;
  padding: 0;
}

.govuk-width-container,
.width-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.govuk-grid-row,
.grid-row {
  margin-right: -15px;
  margin-left: -15px;
}

.govuk-grid-row::after,
.grid-row::after {
  content: "";
  display: block;
  clear: both;
}

.grid-col-one-half {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 0 15px;
}

.govuk-grid-column-two-thirds,
.grid-col-two-thirds {
  width: 66.6666%;
  float: left;
  padding: 0 15px;
}

.button-container {
  line-height: 2.36;
}

button,
.button {
  font-weight: 400;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: auto;
  margin: 0;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

button:active,
.button:active {
  top: 2px;
}

button:focus,
.button:focus {
  border-color: #fd0;
  outline: 3px solid transparent;
  box-shadow: inset 0 0 0 1px #fd0;
}

button:focus:not(:active):not(:hover) {
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 2px 0 #0b0c0c;
}

button:hover,
.button:hover {
  background-color: #005a30;
}

button.secondary,
.button.secondary {
  color: #0b0c0c;
  background-color: #f3f2f1;
  box-shadow: 0 2px 0 #929191;
}

button.secondary:hover,
.button.secondary:hover {
  background-color: #c7c6c6;
}

.button-start {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  display: inline-flex;
  min-height: auto;
  justify-content: center;
}

.product-page .nav-header {
  border-bottom: 0;
}

.product-page .nav-header .width-container {
  border-bottom: none;
  margin-bottom: 0;
}

.product-header {
  background: #1d70b8;
  color: #fff;
  padding: 2rem 0;
}

.product-header a {
  color: #fff;
}

.product-header h1 {
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.0416666667;
  margin: 20px 0 30px 0;
}

.product-header p {
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 15px 0 30px;
}

.product-header .button {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  color: #1d70b8;
  box-shadow: 0 2px 0 #195f9c;
  background: #fff;
  text-decoration: none;
  vertical-align: baseline;
  margin-bottom: 0;
  margin-right: 15px;
  width: auto;
}

.product-page section {
  border-top: 1px solid #b1b4b6;
  padding: 45px 0 0 0;
  margin-bottom: 15px;
}

.product-page section:first-child {
  border-top: none;
}

.product-page section:last-child {
  margin-bottom: 0;
}

.product-page section h2 {
  font-weight: 700;
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 1.1111111111;
  margin: 0 0 30px;
  padding: 0;
}

.product-page section img {
  width: 100%;
  margin: 0 0 45px 0;
}

.usage div {
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.big-number {
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.0416666667;
  margin: 0;
}

.usage .big-number {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 30px;
}

.form-group::after {
  content: "";
  display: block;
  clear: both;
}

.form-group label {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  display: block;
  margin-bottom: 5px;
}

.form-group .hint {
  color: #505a5f;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  margin-bottom: 10px;
}

.form-group input {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  box-sizing: border-box;
  width: 75%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

.form-group input:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

form footer {
  position: relative;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
}

form footer button {
  margin-right: 10px;
}

form footer a {
  display: block;
  margin-top: 30px;
  color: #1d70b8;
}

form footer a:visited {
  color: #1d70b8;
}

.services {
  list-style-type: none;
  padding: 0;
}

.services .service {
  margin: 0 0 20px;
  padding: 0;
  border: 1px solid #b1b4b6;
  background: #f3f2f1;
}

.services .service a {
  text-decoration: none;
  display: block;
  padding: 20px;
}

.services .service .name {
  font-weight: 700;
  display: block;
}

.services .service .domain {
  color: #0b0c0c;
  display: block;
}

.govuk-cookie-banner {
  background-color: #f3f2f1;
  border-bottom: 10px solid transparent;
  padding-top: 20px;
}

.govuk-heading-m {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #0b0c0c;
}

.govuk-body {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  color: #0b0b0c;
}

.govuk-button-group {
  display: flex;
  margin-bottom: 15px;
  margin-right: -15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.govuk-button-group .govuk-button {
  margin-right: 15px;
  margin-bottom: 15px;
}

.govuk-button__start-icon {
  margin-left: 10px;
  vertical-align: middle;
  flex-shrink: 0;
  align-self: center;
  forced-color-adjust: auto;
}
