html {
  font-family: sans-serif;
  font-size: 19px;
}

body {
  background: #f3f2f1;
  margin: 0;
}

header {
  background: #1d70b8;
  border-top: 50px solid #0b0c0c;
  color: #fff;
  padding: 2rem 10%;
}

main {
  background: #fff;
  padding: 0 10% 1rem;
}

main>h1 {
  margin-top: 0;
}

h2 {
  margin: 0;
  padding: 2rem 0 1rem;
}

.uid {
  font-family: monospace;
  font-weight: 400;
}

th {
  text-align: left;
  padding-right: 15px;
}

td {
  font-family: monospace;
}

.user-list {
  width: 100%;
}

th {
  background: #ddd;
  color: #888;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
}

.user-list td {
  width: calc(70% / 4);
}

.user-list td:first-child {
  width: 30%;
}

[data-consent="True"] {
  background: #8f8;
  color: #484;
}

[data-consent="False"] {
  background: #f88;
  color: #844;
}

footer {
  background: #f3f2f1;
  bottom: 0vh;
  border-top: 1px solid #b1b4b6;
  color: #0b0c0c;
  font-size: 1rem;
  line-height: 1.25;
  padding: 2rem 10%;
  position: relative;
  width: 100%;
}

footer a {
  color: #0b0c0c;
}

.footer--links {
  list-style: none;
  padding: 0;
}
