html {
  font-family: sans-serif;
  font-size: 19px;
}

body {
  margin: 0;
}

main {
  padding: 15px;
}

main>h1 {
  margin-top: 0;
}

th {
  text-align: left;
  padding-right: 15px;
}

td {
  font-family: monospace;
}

.cookie-banner {
  background: #f3f2f1;
  display: none;
  padding: 15px;
  margin: 0;
  font-size: 75%;
}

.cookie-banner h2 {
  font-size: 140%;
  margin-top: 0;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.button-group button {
  margin-right: 10px;
  font-size: 100%;
  padding: 5px;
}
