alembic==1.10.4
aiosqlite==0.19.0
asyncpg==0.27.0
essentials==1.1.5
fastapi==0.95.2
httpx==0.24.1
locust==2.15.1
pytest==7.2.0
pytest-asyncio==0.21.0
pytest-cov==4.0.0
pytest-splinter==3.3.2
pytest-xdist==3.1.0
python-dotenv==0.21.0
python-multipart==0.0.6
selenium==4.9.1
sqlmodel==0.0.8
uvicorn[standard]==0.22.0
wtforms==3.0.1
