{% extends "base.html" %}
{% from "macros/forms.html" import render_form %}

{% set page_title = "Add a Service" %}

{% block maincolumn_content %}
  <h1>Enter a service domain name</h1>
  <p>This is the domain name for the service you want to access the Single Consent API
  from.</p>
  <p>For example:</p>
  <ul>
    <li>www.gov.uk</li>
    <li>www.possessionclaim.gov.uk</li>
    <li>findapprenticeshiptraining.apprenticeships.education.gov.uk</li>
  </ul>
  {{ render_form(form) }}
{% endblock %}
