<div class="cookie-banner">
  <div class="prompt">
    <h2>Cookies</h2>
    <p>We use some essential cookies to make this website work.</p>
    <p>We’d like to set additional cookies to understand how you use GOV.UK,
    remember your settings and improve government services.</p>
    <div class="button-group">
      <button type="submit" data-accept-cookies="1">Accept additional cookies</button>
      <button type="submit" data-reject-cookies="1">Reject additional cookies</button>
    </div>
  </div>
  <div class="grant" hidden="">
    <p>You rejected additional cookies, but maybe you changed your mind?</p>
    <div class="button-group">
      <button type="submit" data-accept-cookies="1">Accept additional cookies</button>
    </div>
  </div>
  <div class="revoke" hidden="">
    <p>You accepted additional cookies, but maybe you changed your mind?</p>
    <div class="button-group">
      <button type="submit" data-reject-cookies="1">Reject additional cookies</button>
    </div>
  </div>
</div>
