{% extends "base.html" %}
{% set page_title = "Statuses" %}
{% block content %}
  <h2>Statuses</h2>
  <table class="user-list">
    <thead>
      <tr>
        <th rowspan="2">UID</th>
        <th colspan="4">Consent Status</th>
      </tr>
      <tr>
        <th>Essential</th>
        <th>Usage</th>
        <th>Campaigns</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <b>{{ user.uid }}</b>
          </td>
          {% if user.consent is not none %}
            <td data-consent="{{ user.consent.essential }}">{{ user.consent.essential }}</td>
            <td data-consent="{{ user.consent.usage }}">{{ user.consent.usage }}</td>
            <td data-consent="{{ user.consent.campaigns }}">{{ user.consent.campaigns }}</td>
            <td data-consent="{{ user.consent.settings }}">{{ user.consent.settings }}</td>
          {% else %}
            <td colspan="4">-</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
